h1 {
font-size: 500%;
text-align: center;
font-family: Times New Roman;
color: #004A00;
}
body {
background-image: url(http://www.hddesktopbackgrounds.us/backgrounds-images/1680x1050/b48ti-wallpapers-091421358-1680x1050.jpg);
background-size: 100%;
text-align: center
}
.ybutton {
font-size: 250%;
font-family: Times;
}
img {
width: 40%;
}
